################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/MusicDB/FileContentIndex/5bcb3f8f-c5e6-4e52-9dca-410f9bd96184.vsidx
