body {
    background: rgb(117,115,149);
    background: linear-gradient(90deg, rgba(117,115,149,1) 0%, rgba(29,32,32,1) 23%, rgba(23,167,196,1) 74%, rgba(1,67,83,1) 93%);
}
h1 {
    text-align: center;
    font-family:'Arial Rounded MT';
    color: aliceblue;

}
h3 {
    font-family: 'Arial Rounded MT';
    color: aliceblue;
}
h4 {
    font-family: 'Arial Rounded MT';
    color: aliceblue;
}
p {
    text-align:right;
}
.hiddenRow {
    padding: 0 !important;
}
#addSong {
    border: .1px solid;
    border-radius: 10px;
    background: lightgrey;
}
a{
    color: white;
    font-weight:600
}
.row {
    text-align: left;
    font-family: 'Arial Rounded MT';
    font-size: 20px;
    color: aliceblue;
    justify-content: center;
    margin:auto;
}
