body {
    background:url('../Images/mainBackgroundImage.png');
    background-size:cover;
}
h1 {
    padding-top: 3em;
    padding-left: .2em;
    font-size: 78px;
    font-family: fantasy;
    color:yellow;
    text-shadow: 1px 2px #333300;
}
