@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<head>
    <link rel="stylesheet" href="~/css/MusicDB.css">
</head>
<div class="has-bg-img">
@*    <img class="bg-img" src="~/Images/mainBackgroundImage.png" />
*@
    <div class="text-center">
        <h1 class="display-4">Welcome to MusicDB</h1>
    </div>
</div>